.wrapper {
  position: relative;
}

.wrapper--hidden {
  display: none;
}

.notifications {
  position: absolute;
  z-index: var(--z-index-3);
  top: 0px;
  right: 0;
  width: 100%;
  max-width: 500px;
  padding: calc(var(--base-size) * 3);
  gap: calc(var(--base-size) * 3);
  display: flex;
  flex-direction: column;
}

.cross-icon {
  cursor: pointer;
}
