.weather-card {
  color: #000;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: calc(var(--base-size) * 2) calc(var(--base-size) * 2)
    calc(var(--base-size) * 3);
  border-radius: var(--main-border-radius);
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-top: calc(var(--base-size) * 3);
}

.title {
  text-transform: uppercase;
}

.time {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  margin-bottom: calc(var(--base-size) * 3);
  opacity: 0.7;
}

.all-temperatures {
  text-align: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

.temperature {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 1.07;
}

.temperature-unit {
  font-size: 24px;
  line-height: 1.28;
  margin-left: -24px;
  opacity: 0.6;
}

.icon {
  width: 100px;
  height: 100px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-size) * 6);
}

.weather-info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0000001c;
  padding-bottom: var(--base-size);
  margin-bottom: calc(var(--base-size) * 2);
}

.weather-info-more-details {
  display: flex;
  flex-direction: column;
}

.more-details-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .weather-info__left {
    flex-direction: row;
    justify-content: center;
    gap: calc(var(--base-size) * 3);
    align-items: flex-end;
  }

  .weather-info {
    flex-direction: row;
    margin-bottom: calc(var(--base-size) * 3);
  }

  .weather-info > div {
    width: 50%;
  }

  .weather-info-more-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--base-size) * 2);
  }
  .weather-info-more-details > div {
    flex: 0 calc(50% - calc(var(--base-size) * 2));
  }
}
