.layout {
  width: 100%;
  background-image: url("../../../public/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}

.wrapper {
  width: 100%;
  max-width: var(--main-container-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh calc(var(--base-size) * 3) calc(var(--base-size) * 3);
}

@media screen and (min-height: 768px) {
  .wrapper {
    padding-top: 25vh;
  }
}
