.wrapper {
  width: 100%;
}

.options-container {
  position: relative;
}

.options-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: calc(100% - 10px);
  border-top: 0;
  border: 1px solid var(--main-border-color);
  padding-top: calc(var(--base-size) * 2);
  background-color: var(--pallet-primary-color);
  z-index: var(--z-index-1);
}

.option {
  padding: var(--base-size) calc(var(--base-size) * 2);
  cursor: pointer;
}
