@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Vazirmatn:wght@100;400&display=swap");

:root {
  --main-border-color: #ccc;
  --main-border-radius: 10px;
  --base-size: 5px;
  --main-container-width: 1000px;

  --pallet-primary-color: #ebebeb;
  --pallet-secondary-color: rgb(2, 5, 7);
  --pallet-danger-color: #f44336c2;
  --pallet-success-color: #4caf4fc2;
  --pallet-warning-color: #ffe600c2;
  --pallet-info-color: #2196f3c2;

  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
}

* {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Vazirmatn", sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  min-width: 100vw;
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
