.cards-wrapper {
  max-width: var(--main-container-width);
  margin: auto;
  padding: calc(var(--base-size) * 3);
}

.navbar-container {
  background: var(--pallet-secondary-color);
}

.navbar {
  padding: var(--base-size) calc(var(--base-size) * 3);
  display: flex;
  align-items: center;
  gap: var(--base-size);
  max-width: var(--main-container-width);
  margin: auto;
}

.title {
  text-align: center;
}
