@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Vazirmatn:wght@100;400&display=swap");

:root {
  --main-border-color: #ccc;
  --main-border-radius: 10px;
  --base-size: 5px;
}

* {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Vazirmatn", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-image: url("../public/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
